<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:sercurity="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/mvc
                  http://www.springframework.org/schema/mvc/spring-mvc.xsd
                  http://www.springframework.org/schema/context
                  http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/security
                          http://www.springframework.org/schema/security/spring-security.xsd">
    <context:component-scan base-package="com.security"></context:component-scan>
<!--    用于配置哪些路径下的资源不适用安全验证，-->
    <security:http security="none" pattern="/image/**"></security:http>
    <security:http security="none" pattern="/login.html"></security:http>

<!--配置文件的含义
security用于权限的控制访问 auto-config 开启自动配置使用spring-security提供的默认的登录和退出界面
默认登录的url为/login默认退出的url为/logout use-expressions 表示在配置用户的权限的时候可以使用表达是的形式来指定用户的权限
intercept-url 表示spring-seecurity要拦截的路径 access 用于指定权限和角色 hasRole('ROLE_ADMIN)表示拥有ROLE_ADMIN
的角色才能访问指定的资源

<sercurity:form-login></sercurity:form-login>用于配置指定配置指定的登录页面
username-parameter配置默认的登录名
password-parameter配置默认的登录密码
login-processing-url 登录访url
default-target-url默认 登录成功访问的url
认证失败访问的url
-->
    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" ></security:intercept-url>
        <security:form-login always-use-default-target="true"
        username-parameter="username"
         password-parameter="password"
         login-processing-url="/login.do"
          default-target-url="/index.html"
           authentication-failure-url="/login.html"
           login-page="/login.html"/>
        <security:csrf disabled="true"/>
    </security:http>
<!--
权限认证管理： （1）：将用户名和密码：当前用户具有的角色，通过配置文件的形式配置（现在:入门）
                security:user name="admin" :登录名
                authorities="ROLE_ADMIN"   ：角色(ROLE_ADMIN),权限
                password="admin"          ：密码
         （2）：用户名和密码，当前用户具有的角色，从数据库中查询（后续）{noop}表示不适用加密方式进行密码的加密

-->
    <sercurity:authentication-manager>
        <security:authentication-provider user-service-ref="securtiyService">
<!--            <security:user-service>-->
<!--&lt;!&ndash;                <security:user name="admin" authorities="ROLE_ADMIN" password="{noop}admin"></security:user>&ndash;&gt;-->
<!--            </security:user-service>-->
<!--            指定密码的加密方式-->
            <security:password-encoder ref="bCryptPasswordEncoder"></security:password-encoder>
        </security:authentication-provider>
    </sercurity:authentication-manager>
    <!--    禁用csrf安全防盗链的请求-->
    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
</beans>